<app-navbar></app-navbar>
<h2 style="color:gold; margin-left: 45%;"> Nos Produits</h2>


<div>
    <label for="name">Recherche par Nom</label>
    <input type="text" id="name" class="form-control rounded-1" placeholder="recherche par nom"
        [(ngModel)]=' searchTermproduct '>
</div>

<!-- <div> <a routerLink='/adduser'> ajouter un element</a></div> -->


<!-- realiser apartir de ng for et ng if en bouclant sur une carte en fonction d'un service contenant les infos-->

<div class="grix xs3">
    <div class="card shadow-1 " style="background-color:gold;width:94%;margin-left:2%;margin-right:2%;" *ngFor="let produit of products 
    | searchbyname : searchTermproduct " >

        <div class="card-header">
            <p class="encadre" style="width:70%;margin-left:17%;margin-top:5% ;">{{produit.name}}</p>
        </div>

        <img [src]='produit.imageUrl' width="100%;" height='35%'>




        <div class="encadre">
            <p style="text-align: left;font-weight: bold;">
                Quantité:{{produit.quantity}} 
            </p>
            <p>
                Marque/type:{{produit.category}}
            </p>
            <p>
                Informations:
                {{produit.description}}
            </p>
        </div>
        <div *ngIf="produit.etat !=false">
        <button class="btn rounded-1 black press" style="margin-left:10%; margin-bottom:5%;"> <a routerLink='/Postcommandes'>
                selectionner </a> </button></div>



    </div>
</div>
<app-footer></app-footer>
<!--  | paginate: { id: 'listing_pagination',


        itemsPerPage: 10,
    
    
        currentPage: page,
    
    
        totalItems: totalRecords }" <pagination-controls id="listing_pagination" previousLabel="Prev" nextLabel="Next" maxSize="5" directionLinks="true"
    (pageChange)="page = $event">

</pagination-controls> -->