<h2 style="color:gold; margin-left: 45%;"> Nos Produits</h2>
<p style="margin-left:10%;margin-right:10%;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, illum.
    Recusandae vitae quasi sequi! Vero fuga at, perferendis laboriosam asperiores ullam repellendus tempore, obcaecati
    aut, nesciunt labore fugit aliquam voluptas.
    Modi aut odio voluptas eum labore sit, eaque minima,aborum aliquam. Nam, eius
    consectetur </p>
<!-- realiser apartir de ng for et ng if en bouclant sur une carte en fonction d'un service contenant les infos-->
<div class="grix xs3">
<div  *ngFor="let prod of products |async">
    <div class="card shadow-1 " style="background-color:gold;width:75%;margin-left:10%;margin-right:10%;">
        <div class="card-header">
            <p class="encadre" style="width:70%;text-align: center ;">{{prod.name|lowercase}}</p>
        </div>
        <div class="card-content">
            <img [src]="prod.imageUrl" width="100%" height="50%">
            <div class="encadre">
                <p style="text-align: left;font-weight: bold;" [ngStyle]="{ color: getcolor()}">
                    Quantité:{{prod.quantity}}
                </p>
                <p style="text-align: left;font-weight: bold;">
                   Categorie:{{prod.category|uppercase}}
                </p>
                <p style="text-align: left;font-weight: bold;">
                    Informations:{{prod.description}}
                </p>
            </div>
        </div>
        <div class="card-footer">
            <div class="encadre"> <a href routerLink='/validation'>
                    Selectionner</a></div>
        </div>
    </div>
</div></div>