.cadre {
    font-weight: bold;
    font-size: x-large;
    color: black;
    border: black solid 0.25em;
    background-color: gold;
    width: 40%;
    height: 4.5em;
    margin-left: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 10%;
  
  }

h2 {
    margin-left: 37%;
    margin-top: 5%;
    margin-bottom: 1%;
    color: gold;
    text-decoration: underline gold;
  }
  img{
      height: 100% ;
      border: black solid 2.5em;
  }