<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-navbar></app-navbar>
<h2 style="color:black"> {{message.titre}}</h2>
<p style="color:black">{{message.soustitre}}</p>
<div class="grix xs2" style="margin: 2%;">
    <div class="box" style="margin-right: 2%;">
        <div class="cadre" style=" padding-top: 5%;"> Boisson / Membre</div>
        <div class="grix xs2" style="margin-bottom: 10%; padding-top: 5%;">
            <a href routerLink="/prodconsons" class="cadre" style="margin-bottom: 10%; padding-top: 10%;">Commande</a>
            <a href routerLink="/userlist"class="cadre" style="margin-bottom: 10%; padding-top: 12%;">Membres </a>
            <a href routerLink="/productlist" class="cadre" style="margin-bottom: 10%; padding-top: 12%;">GestionStock</a>
            <a href routerLink="/postdemande" class="cadre" style="margin-bottom: 10%; padding-top: 11%;">Demande</a>

        </div>

    </div>
    <div class="box">
        <div class="cadre" style="text-Align:left;margin-bottom: 10%; padding-top: 5%;"> Notifications <i
                class="fas fa-search" style="margin-left:70%;"routerLink="/demande"></i></div>
        <div class="cadre" style="overflow-y: scroll;">
            <div class="rep">
                <!-- <ng-template > -->
                    <div class="rep">
                        <p style="font-size: large;font-weight: bold;">{{data.titre}}</p>
                        <p>{{data.description}}</p>
                    </div>
                    <div class="rep" style="margin-left:35%;">
                        <p>{{data.nom | uppercase}}</p>
                        <p>{{data.date | date:'shortDate'}} </p>
                    </div> 
                    <hr style="color:black;">
                <!-- </ng-template> -->
                <!-- <ng-template>
                    <div> Rien a signaler</div>
                </ng-template> -->
            </div>
           
            
        </div>
    </div>

</div>
<app-footer></app-footer>