
<app-navbar></app-navbar>
<div class="card shadow-1 rounded-3">
    <div class="card-header">Calendrier de suivi de la marchandise</div>
    <div class="card-content">
      <div id="calendar">
       <full-calendar defaultView="dayGridMonth"></full-calendar></div>
      
    </div>
    <div class="divider"></div>
    <div class="card-footer"><button class="btn shadow-1 rounded-1 large primary uppercase"routerLink='/accueil'>accueil</button></div>
  </div>
<!-- <div>
   
</div> -->
<app-footer></app-footer>
